.nextflow*
conda/.cache/
work/
output/
out/
results/
*.log
*.trace
*.html
*.pdf
*.rds
*.RDS
*.h5ad
!assets/kang.h5ad
*.h5
*.loom
*.mtx
__pycache__/
.ipynb_checkpoints/
.vscode/
.dockerignore
local*.config
apptainer-cache/
singularity/
*.sif
*.simg
*.img
apptainer-tmp/
conda
