workDir = 'work'

params {
    output = "${projectDir}/output"

    cellxgene_dataset_id = "218acb0f-9f2f-4f76-b90b-15a4b7c7f629"
    kang_h5ad = "${projectDir}/assets/kang.h5ad"

    python_container = "zw0124/python"
    r_container = "zw0124/r-base"
    deseq2_container = "zw0124/deseq2"
    limma_container = "zw0124/limma"
    edger_container = "zw0124/edger"
    memento_container = "zw0124/memento"
    nebula_container = "zw0124/nebula"
    bootstrap_container = "zw0124/bootstrap"
    simulation_container = "zw0124/simulation"

    preprocessing_threshold = 0.01
    lfc_threshold = 0.0
    lfc_threshold_lfc05 = 0.5

    negative_enabled = true
    negative_n_runs = 20
    negative_p_val = 0.05

    runtime_enabled = true
    runtime_n_runs = 10
    runtime_n_fixed_cells = 1000
    runtime_n_fixed_genes = 1000

    performance_enabled = true
    performance_n_runs = 20
    performance_n_genes = 5000

    bio_enabled = true
    bio_adj_p_cutoff = 0.05
}

process {
    memory = { 4.GB * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2

    container = params.r_container

    withName: 'FETCH_PEREZ_CD4|PREPARE_PEREZ|PREPROCESSING|GROUND_TRUTH|BIO_UNIVERSE_GENES|CALCULATE_METRICS|PVALUES|PREPARE_RUNTIME_TRACE|SPLIT_FILES_NEGATIVE' {
        container = params.python_container
    }

    withName: 'DESEQ2|DESEQ2_TEST.*' {
        container = params.deseq2_container
    }

    withName: 'LIMMA|LIMMA_TEST.*' {
        container = params.limma_container
    }

    withName: 'EDGER|EDGER_TEST.*' {
        container = params.edger_container
    }

    withName: 'MEMENTO|MEMENTO_TEST.*' {
        container = params.memento_container
    }

    withName: 'NEBULA|NEBULA_TEST.*' {
        container = params.nebula_container
    }

    withName: 'BOOTSTRAP2|BOOTSTRAP2_TEST.*|BOOTSTRAP3|BOOTSTRAP3_TEST.*' {
        container = params.bootstrap_container
    }

    withName: 'SIMULATION' {
        container = params.simulation_container

    }

    withName: '.*RUNTIME:.*' {
        cpus = 1
    }
}

env {
    OMP_NUM_THREADS = 1
    OPENBLAS_NUM_THREADS = 1
    MKL_NUM_THREADS = 1
    VECLIB_MAXIMUM_THREADS = 1
    NUMEXPR_NUM_THREADS = 1
    HDF5_USE_FILE_LOCKING = 'FALSE'
}

executor {
    name = 'local'
    queueSize = 10
    cpus = 10
}

apptainer {
    enabled = true
    runOptions = '--no-mount tmp --writable-tmpfs -B ${projectDir}'
}

trace {
    file = "${params.output}/trace.txt"
    fields = 'task_id,process,tag,realtime,status,cpus,peak_rss'
}
